* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main {
    background-image: url(wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
}

.box {
    display: flex;
    justify-content: space-around;
}

a {
    padding-top: 15px;
    color: #9DC2DD;
    font-size: 18px; 
    font-family: Lato; 
    font-weight: 600; 
    word-wrap: break-word;
    text-decoration: none;
}

a {
    display: inline-block; 
    overflow: hidden; 
}

a {
    transition: 0.5s; 
    display: block; 
}

a:hover {
    transform: scale(1.2); 
  }

  .callback{
    text-decoration: none;

  }
  
  .popup-container{
    z-index:10;
    display:none;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0,0,0,.4);
  }
  .popup-form{
    z-index:100;
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:100px;
    left: 0;
    right: 0;
    width: 500px;
    background: #fff;
  }
  .popup-container .popup-header{
    background: #eee;
    padding: 30px;
    position: relative;
  }
  .popup-container .popup-close{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #af3b3b;
  }
  .popup-container .popup-header-title{
    margin-top: 0;
  }
  .popup-container .popup-close:hover{
    cursor: pointer;
  }
  .popup-container .popup-form label span{
    color: #e02222;
  }
  .popup-container .popup-form label{
    display:inline-block;
    margin-bottom: 5px;
  }
  .popup-container .popup-inputs{
    padding: 30px;
  }
  .popup-container .popup-input{
    margin-bottom: 15px;
  }
  .popup-container .popup-input input{
    padding: 5px 0 5px 5px;
  }
  .popup-container .popup-input input, .catalog-popup-container .popup-input textarea{
    padding: 5px 0 5px 5px;
    width: 100%;
    border: 1px solid #ccc;
  }
  .popup-container .popup-input input[type="checkbox"]{
    width: inherit;
  }
  .popup-container .popup-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .popup-container .popup-required{
    margin: 0;
  }
  .popup-container .popup-form-submit{
    background: #0a8992;
    color: #fff;
    border:0;
    padding: 10px;
    transition: all .2s ease-in-out;
    
  }
  .popup-container .popup-form-submit:hover{
    cursor: pointer;
    background: #09767d;
  }
  
  .popup-container .disabled{
    background: #ddd;
    color: #aaa;
  }
  
  .popup-container .disabled:hover{
    background: #ddd;
    color: #aaa;
    cursor: default;
  }
  .popup-container #product{
    font-size: 20px;
    font-weight: 700;
    color: #777;
    padding: 5px 15px;
    background: #ddd;
  }

.magic {
    margin-top: 30px;
    margin-left: -99px;
    width: 175px;
    height: 75px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.magic:hover {
    -webkit-transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
    transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
  }

.info {
    display: flex;
    justify-content: flex-start;
}

@keyframes moveText {
    0% {


        transform: translateX(0);
        
        
        }
        
        
        50% {
        
        
        transform: translateX(200px);
        
        
        }
        
        
        100% {
        
        
        transform: translateX(0);
        
        
        }
        
        
        }

.official {
    padding-left: 50px;
    padding-top: 142px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    color: aliceblue;
    animation: moveText 5s;
}

@keyframes color-change {
    0% {
color: rgb(11, 11, 70);
}

50% {
color: rgb(239, 215, 135);
}

100% {
color: rgb(11, 11, 70);
}

}

.dream {
  border-width: 10px;
  border-color: black;
  margin-top: 20px;
  margin-left: 80px;
  padding-left: 18px;
  padding-top: 8px;
  border-radius: 20px;
  background-color: rgba(249, 72, 101, 0.692);
  width: 425px;
  height: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: aliceblue;
  animation: color-change 5s infinite;
}

h3 {
  width: 600px;
  margin-top: 60px;
  margin-left: 112px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: aliceblue;
  letter-spacing: 20px;
  opacity: 90%;
  animation: moveText 5s;
}


  
h1 {
  font-family: Lato;
  font-size: 15px;
  color: #e2e5e5;
  text-align: center;
  margin-bottom: 1.4rem;
  }
  
.wrapper {
  margin-top: 20px;
  height: 230px;
  background-color: #e2e5e54d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  }
  
.media {
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.media img {
  max-width: 100%;
  height: auto;
  }
  
.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #fff;
  color: #151e3f;
  transition: all 0.9s ease;
    p {
      transition: all 0.9s ease;
      transform: scale(0.1);
    }
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
  }
  
  .media:hover .layer {
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
    p {
      transform: scale(1);
      transition: all 0.9s ease;
    }
  }

.page2 {
  background-image: url(20190811-203932-BANFF.jpg);
  background-size: cover;
  display: flex;
}

h2 {
  padding-top: 70px;
  padding-left: 50px;
  color: rgb(0, 0, 0);
  background-size: cover;
  font-size: 48px;
  font-family: 'Genos', sans-serif;
  width: 728px;
}

h4 {
  padding: 50px;
  width: 571px;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: 32px;
  word-wrap: break-word;
}

h5 { 
  padding-left: 50px;
  padding-bottom: 300px;
  width: 613px;
  font-size: 16px;
  font-family: Lato;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.icons {
  height: 110px;
}

.icon {
  padding: 70px;
}

.caption {
  display: flex;
  justify-content: space-around; 
}

.one {
  padding-left: 18px;
}

.two {
  padding-left: 35px;
}

.three {
  padding-left: 24px;
}

.four {
  padding-right: 55px;
}
  
.caption2 {
  display: flex;
  font-weight: 600;
}

.one1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 600;
}

.two2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-left: 59px;
  font-weight: 600;
}

.three3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-left: 36px;
  font-weight: 600;
}

.four4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-left: 67px;
  font-weight: 600;
}

.park {
  padding-left: 200px;
  padding-top: 200px;
  font-family: Lato;
  font-size: 183px;
  opacity: 27%;
}

.page3 {
  background-image: url(cropped-1920-1080-1141855.jpg);
  background-size: cover;
}

.early {
  background-color: rgba(240, 248, 255, 0.684);
  padding: 50px;
  margin-top: 421px;
}

.roadmap {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  line-height: 32px;
  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 5s; /* длительность анимации в 1 секунду */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.start {
  padding: 50px;
  font-size: 25px;
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.page4 {
  background-image: url(1199017.jpg);
  background-size: cover;
}

.tube {
  text-align: center;
}

.day2 {
  background-color: rgba(240, 248, 255, 0.385);
  padding: 50px;
  margin-top: 421px;
  line-height: 32px;
  word-wrap: break-word;
  display: flex;
}

.description {
 font-size: 24px;
 font-family: Lato;
 font-weight: 600;
 width: 500px;
 padding-left: 65px;
 border-radius: 50px;
 background-color: rgba(240, 248, 255, 0.812);
 margin-bottom: 100px;
 margin-left: 50px;
 padding-right: 25px;
 padding-top: 23px;
 animation: animate_pulse2 4s infinite;
}

.animate-pulse2:hover {
	animation: none;
}
 
@keyframes animate_pulse2 {
	0% {
		box-shadow: 0 0 0 0 rgb(228,25,49,0);
	}
	70% {
		box-shadow: 0 0 0 20px rgba(205, 70, 180, 0.458);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(228,25,49,0);
	}
}

.page5 {
  background-image: url(802381.jpg);
  background-size: cover;
}

.day3 {
  background-color: #b9bbf476;
  border-radius: 20px;
  margin-top: 350px;
}

.page6 {
  background-image: url(horizon-zero-dawn-snow-mountains-video-games-wallpaper-28e6fde880d00ce8d0bc718e7892b44a.jpg);
  background-size: cover;
  height: 1200px;
} 

.departure {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #4d4a678c;
  font-family: "Josefin Sans", sans-serif;
  color: #ddd;
  font-size: 30px;
}

.carousel {
  width: 100%;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding: 10px;
  display: inline-block;
}

.categories__title {
  color: rgb(255, 255, 255);
  font-size: 35px;
  position: absolute;
  padding-left: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.9)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details .controls {
  padding-top: 180px;
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
  color: #fff;
  margin: 5px 0;
}

.page7 {
  background-image: url(1235624.jpg);
  background-size: cover;
  height: 1200px;
}

.container{
  padding-top: 270px;
  padding-left: 50px;
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}

.container .card{
  position: relative;
}

.container .card .face{
  width:300px;
  height: 200px;
  transition:.4s;
}

.container .card .face.face1{
  position: relative;
  background-color: #4D4A67;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px #FECABD,
    inset 20px 0 80px #F89B8C,
    inset -20px 0 80px #2B1F2D,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff; 
}


.container .card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}

.container .card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;
}

.container .card .face.face1 .content .sign{
  font-size: 20px;
  color: white;
  text-align: center; 
}

.container .card .face.face1 .content a{
   transition: .5s;
}

.container .card .face.face2{
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color: #6E3843;
}

.container .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #926779;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.container .card .face.face2 .content a:hover{
  background: #6E3843;
  color: whitesmoke; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.team {
  font-family: "Quicksand", sans-serif;
  color: #eee;
  font-size: 70px;
  text-align: center;
  padding-top: 130px;
  letter-spacing: 10px;
}

.questions {
  background-color: #92677976;
  border-radius: 50px;
  margin-top: 184px;
  margin-left: 50px;
  font-family: "Josefin Sans", sans-serif;
  color: #ddd;
  font-size: 35px;
  width: 800px;
  padding: 40px;
}

.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #673ab7;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #24134c; /* цвет заднего фона при наведении */
  }
}

.aboutus {
  font-style: italic;
  background-color: #29335887;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  color: #ddd;
  padding: 30px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
  font-weight: 600;
}

.logo2 {
  padding-left: 150px;
}
