* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.clearfix {
    content: " ";
    display: block;
    clear: both;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: rgb(142, 192, 228);
    background: cover;
    height: 120px;
    color: blue;
    text-align: center;
}
h1 {
    padding-top: 40px;
}

nav {
    text-align: left; 
    width: 200px; 
    height: 400px;
    float: left;
    padding-left: 25px;
    padding-top: 20px;
    background-image: url(yellow.png);
    background-repeat: repeat-y;
    
}

ul {
    list-style-type: disc;
    padding-top: 20px;
}

.container {
    margin-left: 15%;
    background-image: url(http://fe.it-academy.by/Sites/0043727/ball_football.png); 
    background-position: right;
    background-repeat: repeat-y;
}

h2 {
    padding-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

img {
    width: 300px;
    height: 200px;
    float: left;
    padding: 10px;
}

.football {
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    padding: 15px;
}

.football2 {
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    padding: 15px;
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: rgb(142, 192, 228);
    background: cover;
    height: 150px;
    color: blue;
    text-align: center;
    padding-top: 15px;
    min-height: 100%;
}