* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.flex {
    display: flex;
}

.flex :first-child {
    align-self: stretch;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: rgb(142, 192, 228);
    background: cover;
    height: 120px;
    color: blue;
    text-align: center;
}
h1 {
    padding-top: 40px;
}

.nav { 
    background-color: yellow;
    flex-grow: 1;
    padding-left: 25px;
    padding-top: 20px;
}

ul {
    list-style-type: disc;
    padding-top: 20px;
}

.container {
    background-image: url(http://fe.it-academy.by/Sites/0043727/ball_football.png); 
    background-position: right;
    background-repeat: repeat-y;
}

h2 {
    padding-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

img {
    width: 300px;
    height: 200px;
    float: left;
    padding: 10px;
}

.football {
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    padding: 15px;
}

.football2 {
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    padding: 15px;
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: rgb(142, 192, 228);
    background: cover;
    height: 150px;
    color: blue;
    text-align: center;
    padding-top: 15px;
    min-height: 100%;
}

.clear {
    clear: both;
}